:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-weight: bold;
}
p {
  font-weight: normal;
  color: #272142;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
  line-height: 42px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #272142;
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  color: #272142;
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
}

.content {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content img {
  display: block;
  margin: auto;
  border-radius: 10px;
  max-height: 560px;
}

.about-section-content {
  margin: 30px;
}

.work-project-section h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.work-project-section p {
  font-size: 14px;
  text-align: center;
}

.btn-branding {
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  padding: 18px 30px;
  background: var(--primary-color);
  border-radius: 4px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 4px;
}

.project-description {
  padding: 80px 60px;
}

.my-project {
  font-size: 18px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    padding: 10px;
    text-align: center;
  }
  .content h1 {
    font-size: 46px;
    line-height: 56px;
  }

  nav ul {
    margin: 0 auto;
  }

  nav a {
    font-size: 14px;
  }
}
